body {
    margin: 5px; /* Marge de 5px autour de tout le contenu */
}

#header {
    border: 2px solid black;
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative; 
    background : url("backgroundee.jpg");

}

#footer {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative; 
    color: #FE7000;
    font-size: 0.60em;  
    font-style: italic; 
    background: url("backgroundee.jpg");
    height: 79px;
}

#footer table {
    text-align: center;
}

#section {
    font-family: "Marker Felt", fantasy;
    /*background-color: #7D7C7C;*/
    background-color: #f4f4f4;
    height: 1500px;
}


.content {
    justify-content: space-between; /* Espace entre les éléments */
    gap: 20px; /* Espacement entre les éléments */
    text-align: center;
}

.text {
    margin-left: 150px;
    margin-top: 25px;
    color: orange;
    /*flex: 1; /* Le texte prendra autant d'espace que possible */*/
}
#footer p, #footer a {
    margin: 0;
    color: #FE7000;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline; /* Optionnel : ajoute un soulignement au survol */
}
    
.logo {
    margin-left: 10px;
    margin-right: 15px;
}

.h1 {
    display: flex;
    align-items: center;
    margin: 0 auto; /* Centre le h1 */
    text-align: center;
}

#navigation {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #333;
}

.nav-item {
    position: relative; /* Ajouté pour permettre le positionnement absolu du menu déroulant */
    border: 1.5px solid black;
    background-color: black;
    padding: 10px;
    margin: auto;
    color: #FE7000;
    text-align: center;
    border-radius: 10px;
}

.nav-item a {
    text-decoration: none; /* Enlève le soulignement des liens */
    color: inherit; /* Utilise la couleur de texte héritée */
    background-color: #333;
}

.nav-item a:hover {
    text-decoration: none; /* Optionnel : ajoute un soulignement au survol */
}
