body {
    margin: 5px; /* Marge de 5px autour de tout le contenu */
}

#header {
    border: 2px solid black;
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative; 
    background : url("backgroundee.jpg");

}

#footer {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative; 
    color: #FE7000;
    font-size: 0.60em;  
    font-style: italic; 
    background: url("backgroundee.jpg");
    height: 79px;
}

#footer table {
    text-align: center;
}

#section {
    font-family: "Marker Felt", fantasy;
    /*background-color: #7D7C7C;*/
    background-color: #f4f4f4;
    height: 1500px;
}


.content {
    justify-content: space-between; /* Espace entre les éléments */
    gap: 20px; /* Espacement entre les éléments */
    text-align: center;
}

.text {
    margin-left: 150px;
    margin-top: 25px;
    color: orange;
    /*flex: 1; /* Le texte prendra autant d'espace que possible */*/
}

#footer p, #footer a {
    margin: 0;
    color: #FE7000;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline; /* Optionnel : ajoute un soulignement au survol */
}
    
.logo {
    margin-left: 10px;
    margin-right: 15px;
}

.h1 {
    display: flex;
    align-items: center;
    margin: 0 auto; /* Centre le h1 */
    text-align: center;
}

#navigation {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #333;
}

.nav-item {
    position: relative; /* Ajouté pour permettre le positionnement absolu du menu déroulant */
    border: 1.5px solid black;
    background-color: black;
    padding: 10px;
    margin: auto;
    color: #FE7000;
    text-align: center;
    border-radius: 10px;
}

.nav-item a {
    text-decoration: none; /* Enlève le soulignement des liens */
    color: inherit; /* Utilise la couleur de texte héritée */
    background-color: #333;
}

.nav-item a:hover {
    text-decoration: none; /* Optionnel : ajoute un soulignement au survol */
}

.carousel-inner {
    align-items: center;
    justify-content: center;
    height: 700px; /* Ajustez cette valeur selon vos besoins */
}

.carousel-image {
    margin-left: 10%;
    width: 80%;
    height: auto;
    max-height: 100%;
    object-fit: cover; /* Cette propriété permet de s'assurer que l'image garde son ratio tout en remplissant le conteneur */
}

/* Centrer le texte des éléments h2 */
h2 {
    text-align: center;
}   

.carousel-container h2{
    color: orange;
}

#section p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5em;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* Positionné juste en dessous de l'élément parent */
    left: 50%; /* Positionné au milieu horizontalement */
    transform: translateX(0%); /* Centré horizontalement */
    background-color:  #333; /* Mise à jour de la couleur de fond */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-item {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    display: block;
    text-decoration: none;
    color: black;
}
    
.dropdown-item:hover {
    background-color: #f1f1f1;
    color: black;
}

.nav-item:hover .dropdown-menu {
    display: block; /* Affiche le menu déroulant au survol */
}

.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(0,0,0,0.6);
  --animation-color: #FE7000;
  --fs-size: 1em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: #f4f4f4;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

#header button {
  --border-right: 6px;
  --text-stroke-color: rgba(0,0,0,0.6);
  --animation-color: #FE7000;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: #f4f4f4;
  -webkit-text-stroke: 1px var(--text-stroke-color);
} 

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; /* Espacement entre les deux cartes */
    margin: 2rem;
}

.card {
    margin-top: -80px;
    width: 190px;
    padding: 1.9rem 1.2rem;
    text-align: center;
    background: #2a2b38;
}

.field {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background-color: #1f2029;
    border-radius: 4px;
    padding: .5em 1em;
}

.input-icon {
    height: 1em;
    width: 1em;
    fill: #ffeba7;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}
